md-toolbar.cplant-nav.md-whiteframe-6dp
  .md-toolbar-tools
    img.cplant-nav-logo-crop(src='assets/images/redhat-lg-black.png')
    md-divider.cplant-vertical-divider.cplant-nav-divider
    a(href='//access.redhat.com/labs/')
      .cplant-nav-site-title(layout='column')
        .primary-title.flex Customer Portal Labs 
        .secondary-title.flex Nomination Tool
    span.flex(flex)
    button.md-icon-button.md-button(hide-xs)
      md-icon.md-avatar(md-svg-src='assets/images/useravatar.svg')

      
