md-toolbar.cplant-nav.md-whiteframe-6dp(ng-controller='navCtrl as navCtrl')
  .md-toolbar-tools
    img.cplant-nav-logo-crop(src='assets/images/redhat-lg-black.png')
    md-divider.cplant-vertical-divider.cplant-nav-divider
    a(href='//access.redhat.com/labs/')
      .cplant-nav-site-title(layout='column')
        .primary-title.flex Customer Portal Labs 
        .secondary-title.flex Nomination Tool
    span.flex(flex)
    md-menu.cplant-nav-avatar-container(md-offset="0 50")
      canvas#cplant-nav-avatar(hide-xs, md-menu-origin, ng-click='$mdMenu.open()')
      md-menu-content(width=2, ng-mouseleave="$mdMenu.close()")
        md-menu-item
          md-button(ng-click='navCtrl.signOut()')
            md-icon(md-svg-src='assets/images/baseline-exit_to_app.svg')
            span Sign Out

      
