.md-dialog-container.cplant-dialog-detail-container#appDetailDialog
  md-dialog(aria-label='Proposal Detail')
    md-toolbar.md-toolbar-tools
      h2 Proposal Detail ({{appDetailCtrl.proposal.status}})
      span(flex)
      md-button.cplant-trello-button(ng-href="{{appDetailCtrl.proposal.trelloCardUrl}}" target="_blank" ng-if="appDetailCtrl.proposal.trelloCardUrl && appDetailCtrl.isAdmin()")
          md-icon.cplant-trello-logo(md-svg-src='assets/images/trello-logo-black.svg')
      md-button.md-icon-button(ng-click='appDetailCtrl.cancel()')
        md-icon(md-svg-src='assets/images/ic-exit.svg')
    md-progress-linear(md-mode="indeterminate", ng-hide='!appDetailCtrl.startProgress')
    md-dialog-content
      .md-dialog-content
        h5 App name
        p {{appDetailCtrl.proposal.name}}
        md-divider
        h5 Summary
        p {{appDetailCtrl.proposal.summary}}
        md-divider
        h5 Description
        p {{appDetailCtrl.proposal.desc}}
        md-divider
        h5 The product will help with 
        p {{appDetailCtrl.proposal.requiredQuestions.product}}
        md-divider
        h5 The SBR belong to
        p {{appDetailCtrl.proposal.requiredQuestions.sbr}}
        md-divider
        h5 Target user
        p {{appDetailCtrl.multiline(appDetailCtrl.proposal.requiredQuestions.targetUser)}}
        md-divider
        h5 Key requirements or features
        p {{appDetailCtrl.proposal.requiredQuestions.keyDesc}}
        md-divider
        h5 Scenarios
        p {{appDetailCtrl.proposal.requiredQuestions.keyDesc}}
        md-divider
        h5 Special reason
        p {{appDetailCtrl.proposal.requiredQuestions.specialReason}}
        md-divider
        h5 Contacts
        p {{appDetailCtrl.multiline(appDetailCtrl.proposal.requiredQuestions.contacts)}}
        div(ng-if="appDetailCtrl.proposal.optionalQuestions.expectUsers")
          md-divider
          h5 Potential users would this tool have
          p {{appDetailCtrl.proposal.optionalQuestions.expectUsers}}
        div(ng-if="appDetailCtrl.proposal.optionalQuestions.caseFrequency")
          md-divider
          h5 The number of cases that were opened in the last 30 days related to the problem that the tool targets
          p {{appDetailCtrl.proposal.optionalQuestions.caseFrequency}}
        div(ng-if="appDetailCtrl.proposal.optionalQuestions.expectCaseDecreasing")
          md-divider
          h5 Expect case decreasing
          p {{appDetailCtrl.proposal.optionalQuestions.expectCaseDecreasing}}
        div(ng-if="appDetailCtrl.proposal.optionalQuestions.expectTTCDecreasing")
          md-divider
          h5 Expect TTC(time to close) decreasing
          p {{appDetailCtrl.proposal.optionalQuestions.expectTTCDecreasing}}
        div(ng-if="appDetailCtrl.proposal.optionalQuestions.similarTools")
          md-divider
          h5 Similar tools
          p {{appDetailCtrl.proposal.optionalQuestions.similarTools}}
        div(ng-if="appDetailCtrl.proposal.optionalQuestions.relatedKBaseRes")
          md-divider
          h5 Related KBase solutions or documents
          p {{appDetailCtrl.proposal.optionalQuestions.relatedKBaseRes}}
    md-dialog-actions(layout='row')
      md-input-container(ng-if='appDetailCtrl.isAdmin()' layout='row' layout-align="space-between center" layout-wrap)
        md-switch.cplant-status-switch(ng-if='appDetailCtrl.isAdmin()' ng-model='appDetailCtrl.proposalStatus' ng-disabled='appDetailCtrl.isCompletedAccept()||appDetailCtrl.proposal.status === "ACCEPTED"' ng-true-value="'ACCEPTED'" ng-false-value="'NEW'" ) ACCEPT
        md-switch.cplant-status-switch(ng-if='appDetailCtrl.isAdmin()' ng-model='appDetailCtrl.proposalStatus' ng-disabled='appDetailCtrl.isCompletedAccept()||appDetailCtrl.proposal.status === "REJECTED"' ng-true-value="'REJECTED'" ng-false-value="'NEW'" ) REJECT
        form.cplant-proposal-reason-container(name='reason')
          md-label(style="float:left;position:absolute;top:30%;left:45%" ng-hide="appDetailCtrl.proposalStatus === 'REJECTED'&&appDetailCtrl.proposal.status != 'REJECTED'") {{appDetailCtrl.proposal.rejectReason}}
          md-input-container(ng-hide = "appDetailCtrl.proposalStatus != 'REJECTED'||appDetailCtrl.proposal.status === 'REJECTED'" ng-disabled='reportDetailCtrl.report.status === "REJECTED"')
            input(ng-model="appDetailCtrl.rejectReason" placeholder='Reason' ng-required="appDetailCtrl.proposalStatus === 'REJECTED'")
        md-button(ng-if='appDetailCtrl.isAdmin()', ng-click='appDetailCtrl.updateStatus()' ng-disabled='(reason.$invalid)||(appDetailCtrl.proposalStatus === appDetailCtrl.proposal.status || appDetailCtrl.disableConfirm || appDetailCtrl.proposalStatus === "NEW")') Change Status           
        md-button(ng-click='appDetailCtrl.edit($event)', ng-disabled='appDetailCtrl.isCompletedAccept()') Edit
