.md-dialog-container.cplant-dialog-form-container.admin-dialog#newAdminDialog
  md-dialog(aria-label='Add Admin')
    form(name='newAdminForm' ng-submit="$event.preventDefault()")
      md-toolbar.md-toolbar-tools
        h2 Add Admin
        span(flex)
        md-button.md-icon-button(ng-click='menuDialogCtrl.cancel()')
          md-icon(md-svg-src='assets/images/ic-exit.svg')
      md-dialog-content
        .md-dialog-content
          md-input-container.md-block
            label Name
            textarea(ng-model='menuDialogCtrl.admin.name', md-maxlength='60', ng-required='true')
          md-input-container.md-block
            label kerberosid
            textarea(ng-model='menuDialogCtrl.admin.kerberosid', md-maxlength='60', ng-required='true')
          md-input-container.md-block
            label email
            textarea(ng-model='menuDialogCtrl.admin.email', md-maxlength='60')
          md-input-container.md-block
            label role
            textarea(ng-model='menuDialogCtrl.admin.role', md-maxlength='60')      
      md-dialog-actions(layout='row')
        md-button(ng-click='menuDialogCtrl.reset(newAdminForm)') Reset
        md-button(type='submit', ng-click='menuDialogCtrl.submit(newAdminForm)') Submit
            