md-toolbar.cplant-nav.md-whiteframe-6dp(ng-controller='navCtrl as navCtrl')
  .md-toolbar-tools
    img.cplant-nav-logo-crop(src='assets/images/redhat-lg-black.png')
    md-divider.cplant-vertical-divider.cplant-nav-divider
    a(href='//access.redhat.com/labs/')
      .cplant-nav-site-title(layout='column')
        //- img(src='assets/images/labs-logo-brush-bg.png')
        //- img(src='assets/images/tool-logo-brush-bg.png')
        .primary-title.flex Customer Portal Labs 
        .secondary-title.flex Nomination Tool
    span.flex(flex)
    include ../menu/menu
    
      
