.md-dialog-container.cplant-dialog-detail-container#appDetailDialog
  md-dialog(aria-label='Proposal Detail')
    md-toolbar.md-toolbar-tools
      h2 Proposal Detail ({{appDetailCtrl.proposal.status}})
      span(flex)
      md-button.md-icon-button(ng-click='appDetailCtrl.cancel()')
        md-icon(md-svg-src='assets/images/ic-exit.svg')
    md-progress-linear(md-mode="indeterminate", ng-hide='!appDetailCtrl.startProgress')
    md-dialog-content
      .md-dialog-content
        h5 App name
        p {{appDetailCtrl.proposal.name}}
        md-divider
        h5 Summary
        p {{appDetailCtrl.proposal.summary}}
        md-divider
        h5 Description
        p {{appDetailCtrl.proposal.desc}}
        md-divider
        h5 The product will help with 
        p {{appDetailCtrl.proposal.requiredQuestions.product}}
        md-divider
        h5 The SBR belong to
        p {{appDetailCtrl.proposal.requiredQuestions.sbr}}
        md-divider
        h5 Target user
        p {{appDetailCtrl.multiline(appDetailCtrl.proposal.requiredQuestions.targetUser)}}
        md-divider
        h5 Key requirements or features
        p {{appDetailCtrl.proposal.requiredQuestions.keyDesc}}
        md-divider
        h5 Scenarios
        p {{appDetailCtrl.proposal.requiredQuestions.keyDesc}}
        md-divider
        h5 Special reason
        p {{appDetailCtrl.proposal.requiredQuestions.specialReason}}
        md-divider
        h5 Contacts
        p {{appDetailCtrl.multiline(appDetailCtrl.proposal.requiredQuestions.contacts)}}
        div(ng-if="appDetailCtrl.proposal.optionalQuestions.expectUsers")
          md-divider
          h5 Potential users would this tool have
          p {{appDetailCtrl.proposal.optionalQuestions.expectUsers}}
        div(ng-if="appDetailCtrl.proposal.optionalQuestions.caseFrequency")
          md-divider
          h5 The number of cases that were opened in the last 30 days related to the problem that the tool targets
          p {{appDetailCtrl.proposal.optionalQuestions.caseFrequency}}
        div(ng-if="appDetailCtrl.proposal.optionalQuestions.expectCaseDecreasing")
          md-divider
          h5 Expect case decreasing
          p {{appDetailCtrl.proposal.optionalQuestions.expectCaseDecreasing}}
        div(ng-if="appDetailCtrl.proposal.optionalQuestions.expectTTCDecreasing")
          md-divider
          h5 Expect TTC(time to close) decreasing
          p {{appDetailCtrl.proposal.optionalQuestions.expectTTCDecreasing}}
        div(ng-if="appDetailCtrl.proposal.optionalQuestions.similarTools")
          md-divider
          h5 Similar tools
          p {{appDetailCtrl.proposal.optionalQuestions.similarTools}}
        div(ng-if="appDetailCtrl.proposal.optionalQuestions.relatedKBaseRes")
          md-divider
          h5 Related KBase solutions or documents
          p {{appDetailCtrl.proposal.optionalQuestions.relatedKBaseRes}}
    md-dialog-actions(layout='row')
      md-input-container.cplant-reason-container(ng-if='appDetailCtrl.isAdmin()')   
        input(ng-model='appDetailCtrl.rejectReason' type='text' ng-required='true' placeholder='Reason' ng-hide = "appDetailCtrl.proposalStatus !== 'REJECTED'")
      md-input-container(ng-if='appDetailCtrl.isAdmin()')
        md-radio-group(ng-model='appDetailCtrl.proposalStatus')
          md-radio-button(value='ACCEPTED' ng-disabled="appDetailCtrl.isCompletedAccept()") ACCEPT
          md-radio-button(value='REJECTED' ng-disabled="appDetailCtrl.isCompletedAccept()") REJECT
      md-button(ng-click='appDetailCtrl.edit($event)', ng-disabled='appDetailCtrl.isCompletedAccept()') Edit
      md-button(ng-if='appDetailCtrl.isAdmin()', ng-click='appDetailCtrl.updateStatus()' ng-disabled='appDetailCtrl.proposalStatus === appDetailCtrl.proposal.status || appDetailCtrl.disableConfirm') Change Status        
