.md-dialog-container.cplant-dialog-detail-container#appDetailDialog
  md-dialog(aria-label='Proposal Detail')
    md-toolbar.md-toolbar-tools
      h2 Proposal Detail ({{appDetailCtrl.proposal.status}})
      span(flex)
      md-button.md-icon-button(ng-click='appDetailCtrl.cancel()')
        md-icon(md-svg-src='assets/images/ic-exit.svg')
    md-dialog-content
      .md-dialog-content
        h5 App name
        p {{appDetailCtrl.proposal.name}}
        md-divider
        h5 Summary
        p {{appDetailCtrl.proposal.summary}}
        md-divider
        h5 Description
        p {{appDetailCtrl.proposal.desc}}
        md-divider
        h5 The product will help with 
        p {{appDetailCtrl.proposal.requiredQuestions.product}}
        md-divider
        h5 The SBR belong to
        p {{appDetailCtrl.proposal.requiredQuestions.sbr}}
        md-divider
        h5 Target user
        p {{appDetailCtrl.multiline(appDetailCtrl.proposal.requiredQuestions.targetUser)}}
        md-divider
        h5 Key requirements or features
        p {{appDetailCtrl.proposal.requiredQuestions.keyDesc}}
        md-divider
        h5 Scenarios
        p {{appDetailCtrl.proposal.requiredQuestions.keyDesc}}
        md-divider
        h5 Special reason
        p {{appDetailCtrl.proposal.requiredQuestions.specialReason}}
        md-divider
        h5 Contacts
        p {{appDetailCtrl.multiline(appDetailCtrl.proposal.requiredQuestions.contacts)}}
        md-divider
        div(ng-if="appDetailCtrl.proposal.optionalQuestions.expectUsers")
          h5 Potential users would this tool have
          p {{appDetailCtrl.proposal.optionalQuestions.expectUsers}}
          md-divider
        div(ng-if="appDetailCtrl.proposal.optionalQuestions.caseFrequency")
          h5 The number of cases that were opened in the last 30 days related to the problem that the tool targets
          p {{appDetailCtrl.proposal.optionalQuestions.caseFrequency}}
          md-divider
        div(ng-if="appDetailCtrl.proposal.optionalQuestions.expectCaseDecreasing")
          h5 Expect case decreasing
          p {{appDetailCtrl.proposal.optionalQuestions.expectCaseDecreasing}}
          md-divider
        div(ng-if="appDetailCtrl.proposal.optionalQuestions.expectTTCDecreasing")
          h5 Expect TTC(time to close) decreasing
          p {{appDetailCtrl.proposal.optionalQuestions.expectTTCDecreasing}}
          md-divider
        div(ng-if="appDetailCtrl.proposal.optionalQuestions.similarTools")
          h5 Similar tools
          p {{appDetailCtrl.proposal.optionalQuestions.similarTools}}
          md-divider
        div(ng-if="appDetailCtrl.proposal.optionalQuestions.relatedKBaseRes")
          h5 Related KBase solutions or documents
          p {{appDetailCtrl.proposal.optionalQuestions.relatedKBaseRes}}
          md-divider
    md-dialog-actions(layout='row')
      md-button(ng-click='appDetailCtrl.edit($event)') Edit
      md-button Accept
      md-button Reject
        
